body {
  scroll-snap-type: x mandatory;
}

.recomendation {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  min-width: 100vw;
  scroll-snap-type: x mandatory;
}

.recomendation-card {
  min-width: 50%;
  scroll-snap-align: start;
  margin: 1px;
}

.start-recipe-btn {
  bottom: 0;
  position: fixed;
}
